@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
@import url("fontawesome-all.min.css");

html{
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}




a {
    color: #fff;
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    transition: color 0.25s ease-in-out;
}

a:hover {
    color: #d64760;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #fff;
    letter-spacing: -0.05em;
 }

 h2 {
    margin-block-start: 0.3em;
    margin-block-end: 0em;
 }
 body, select, textarea {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    padding: 0;
    font-size: 13pt;
    color: rgba(255, 255, 255, 0.6);
 }

.contactBody{
    /* font-family: fantasy; */
    background-image: url(images/Veggie\ Zen.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    width: 90%;
    margin: 0;
    box-sizing: border-box;
}
#navBar{
    width: 100%;
}
#navBar .navMenu {
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0em 1em;
    box-sizing: border-box;
    width: 100%;
}

@media (max-width: 500px) {
    #navBar  .navMenu {
        display: flex;
        justify-content: space-evenly;
        padding: 1em 0em 2em 0em;
        width: 100%;
    }
    #navBar{
        width: 100%;
    }
}

    
 @media (max-width: 800px) {
    #navBar .navMenu {
        display: flex;
        justify-content: space-evenly;
        padding: 1em 1em;
        width: 100%;
    }
} 

body{
    display: flex;
    flex-flow: column;
    align-items: center;
}
    
.ContactUs{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 5px;
    background-color: #d64760;
    background-image: url(images/overlay.png);
    padding-top: 0em;
    padding-left: 0em;
    opacity: 0.9;
    margin: 5px;
    height: 20em;
    width: 90%;
    border: 10px ridge #ffffff;
}

@media (max-width: 500px) {
    .ContactUs  {
        width: 83%;
        
    }
}

/* @media (max-width: 800px) {
    .ContactUs {
        margin-left: 1em;
    }
} */

.contactUs #contactTop {
    flex-grow: 0;
    flex-shrink: 0;
    transition: filter 0.5s ease-in-out;
    transition: opacity 1s ease-in-out;
    transition-delay: 0.5s;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

.head{
    font-size: 3rem;
    text-align: center;
}

.doyou{
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 80%;
}

@media (max-width: 500px) {
    .doyou {
        font-size: 1.0rem;
        width: 93%;
    }
}

@media (max-width: 800px) {
    .doyou{
        margin: 0;
        width: 74%;
    }
}



.contact-form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 2rem auto;
    border: 2px solid tan;
    padding: 2rem;
    border-radius: 5px;
}

label{
    display: block;
    padding: 1rem 0 .5rem;
    text-transform: uppercase;
    font-size: 14px;
}


input, textarea{
    display: block;
    width: 100%;
    border: 2px solid black;
    padding: .5rem;
    font-size:18px;
    border-radius: 5px;
    background-color:white;
    transition-duration: 500ms;
    color: black;
}

textarea:hover{
    background: #d64760;
}
input:hover{
    background: #d64760;
}

#submitButton{
    border: 6pt outset #d64760;
    background: #d64760;
    padding: .5rem;
    color:white;
    margin:1rem 0;
    width: 90%;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 500px) {
    #submitButton {
        width: 80%;
    }
}

#submitButton:hover{
    background-color: green;
}





